#root {
  margin: 0 auto;
  text-align: center;
}

html {
  height: 100%;
}

body {
  background-image: url('./assets/dumbell-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: 100em;
  background-position: top;
}

.oswald-semibold {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.oswald-regular {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dumbbell-icon {
  transition: transform 0.3s ease-in-out;
}

.oswald-semibold:hover .dumbbell-icon {
  transform: rotate(-15deg);
}

h2 {
  color: #D1FAFF;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #ffffff00;
  padding: 1em;
}

.login-register-container {
  margin-left: 14em;
  margin-right: 14em;
}

button.button-blue {
  background-color: #2767f1;
  text-align: center;
  align-content: center;
}

button.button-blue:hover {
  background-color: #2159d1;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.custom-card {
  transition: border-radius 0.1s ease-out
}

.custom-card:hover {
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.custom-card-exercise {
  border-radius: 2em;
  transition: border-radius 0.1s ease-out
}

.custom-card-exercise:hover {
  border-bottom-right-radius: 2em;
}

.card-wrapper {
  flex-basis: calc(25% - 1rem);
  margin-bottom: 1rem;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .card-wrapper {
    flex-basis: calc(33.333% - 1rem);
  }
  .login-register-container {
    margin-left: 4em;
    margin-right: 4em;
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    flex-basis: calc(50% - 1rem);
  }
}

@media (max-width: 576px) {
  .card-wrapper {
    flex-basis: calc(100% - 1rem);
  }
}

.custom-list-group-item {
  border-color: #303030;
  text-align: left; 
  background-color: #ECEF80;
}

@media screen and (max-width: 600px) {
  .add-workout-button {
    display: block;
    border-radius: 2em;
    position: fixed;
    right: 2em;
    bottom: 5em;
    z-index: 9999;
  }
  .header {
    height: 0;
  }
  .login-register-container {
    margin: 0;
  }
}

.add-button {
  width: 3.5em;
  height: 3.5em;
  background-color: #2767f1;
  border-radius: 2em;
  text-align: center;
  align-content: center;
}

.add-button:hover {
  background-color: #2159d1;
}

.plus-icon {
  transition: transform 0.3s ease-in-out;
}

.add-button:hover .plus-icon {
  transform: rotate(45deg);
}