#root {
  margin: 0 auto;
  text-align: center;
}

html {
  height: 100%;
}

body {
  background-image: url('./assets/dumbell-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: 100em;
  background-position: top;
}

.oswald-semibold {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.oswald-regular {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h2 {
  color: #D1FAFF;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #ffffff00;
  padding: 1em;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.custom-card {
  transition: border-radius 0.1s ease-out
}

.custom-card:hover {
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.custom-card-exercise {
  border-radius: 2em;
  transition: border-radius 0.1s ease-out
}

.custom-card-exercise:hover {
  border-bottom-right-radius: 2em;
}

.card-wrapper {
  flex-basis: calc(25% - 1rem);
  margin-bottom: 1rem;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .card-wrapper {
    flex-basis: calc(33.333% - 1rem);
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    flex-basis: calc(50% - 1rem);
  }
}

@media (max-width: 576px) {
  .card-wrapper {
    flex-basis: calc(100% - 1rem);
  }
}

.custom-list-group-item {
  border-color: #303030;
  text-align: "left"; 
  background-color: "#ECEF80";
}

